@charset "utf-8";
/* CSS Document */
.font_style_1{
	color:#090;
	font-size:28px;
	position:relative;
	float:left;
}
.content_part{
	width:900px;
	height:auto;
	float:left;
	position:relative;
	padding: 0 10px 10px 25px;
	margin-bottom:30px;
}
.content_part_2{
	width:950px;
	height:auto;
	float:left;
	position:relative;
	padding: 0 10px 10px 25px;
	margin-bottom:10px;
}
.content_part_3{
	width:280px;
	height:300px;
	float:left;
	position:relative;
	margin:25px;
	margin-left:25px;
}
.content_part_3 img{
	width:280px;
	height:300px;
}
.font_style_2{
	color:#000;
	font-size:17px;
	font-family:"Comic Sans MS", cursive;
}
.font_style_3{
	color:#03C;
	font-size:24px;
	position:relative;
	float:left;
}